.main-footer {
    padding: 40px;
    background: #F2F2F2;
    position: relative;
    z-index: 100;

    @include media-breakpoint-down(md) {
        padding: 40px 16px;
    }
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
    }

    .menu-slide-block {
        margin-bottom: 0;
        margin-right: 16px;
        width: 165px;

        @include media-breakpoint-down(sm) {
            width: 50%;
            margin-right: 0;
            padding-right: 16px;
        }
    }
}

.logo-footer {
    @include media-breakpoint-down(sm) {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    img {
        max-width: 100%;
    }
}

.menu-footer {
    margin: 0 16px;

    @media (max-width: 1440px) {
        flex: 1;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        text-align: center;
        flex: auto;
        margin: 0;
    }
}

.menu-footer-links {
    min-height: 50px;

    @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
    }

    .footer-link {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        font-size: 18px;
        line-height: 22px;
        color: $color-brown;
        text-transform: uppercase;
        font-weight: $font-bold;
        @include transition(.2s);

        @include media-breakpoint-down(sm) {
            display: block;
            margin-bottom: 15px;
            margin-right: 0;
        }

        &:hover {
            text-decoration: none;
            color: $color-darkgray;
        }
    }
}

.desktop-footer-block {
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.mobile-footer-block {
    display: none;

    @include media-breakpoint-down(sm) {
        display: block;
    }
}

.footer-desc {
    max-width: 720px;
    font-size: 14px;
    line-height: 17px;
    font-weight: $font-light;
    font-family: $font-family-roboto;
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
    }
}

.copyright {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: $font-bold;

    .number {
        font-family: $font-family-cormorant-numeric;
    }
}


.footer-social {
    @include media-breakpoint-down(sm) {
        text-align: center;
        padding: 45px 0 20px;
        width: 100%;
    }

    .footer-social-link {
        display: block;
        margin-bottom: 30px;

        @include media-breakpoint-down(sm) {
            display: inline-block;
            vertical-align: middle;
            margin: 0 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}