// Top splash section start
.top-splash-section {
    min-height: calc(100vh - 141px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 0;
    animation: splash-section 1s ease-in-out 2.5s forwards;

    .gradient-line {
        @include center(horizontal);
        bottom: -54px;
        z-index: 5;
        opacity: 0;
        animation: gradient-line-animation 1s ease-in-out 4s forwards;
    }
    

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(238, 238, 238, 0) 0%, #EEEEEE 100%);
        z-index: 1;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../img/splash-bg.png") no-repeat 50% 50%;
        opacity: .4;
        z-index: 0;
        animation: splash-img-animation 1s ease-in-out 2.5s forwards;
    }
}

.phone-sticker {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 80px;
    height: 80px;
    z-index: 100;
    box-shadow: 0px 0px 33px rgba(139, 67, 38, 0.13);
    background: $color-white;
    border-radius: 50%;
    cursor: pointer;
    @include transition(.3s);

    img {
        @include center(both);
    }
}

.logo-wrap {
    @include center(both);
    z-index: 10;
    opacity: 0;
    animation: logo-animation 2.3s ease-in-out 1s forwards;
}

.splash-text-wrapper {
    max-width: 762px;
    margin: 0 auto 115px;
    padding: 0 16px;
    z-index: 10;
    text-align: center;

    .splash-logos {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 60px;

        .splash-logo {
            margin: 0 50px;

            &.bottom-indent {
                margin-bottom: -10px;
            }
        }
    }

    .splash-desc {
        font-size: 18px;
        line-height: 30px;
        font-family: $font-family-roboto;
    }
}
// Top splash section end


// About slider section start
.section-about {
    background: linear-gradient(239.16deg, rgba(229, 229, 229, 0.73) -0.44%, #FFFFFF 62.33%), 
                url("../img/about-bg.png") no-repeat 100% 50%;
}
// About slider section end


// Principles section start
.principles-section {
    padding: 100px 0;
}

.principle-col {
    .principle-heading {
        display: flex;
        margin-bottom: 40px;

        .principle-icon {
            width: 55px;
            height: 60px;
            margin-right: 35px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                display: inline-block;
                max-width: 100%;
                max-width: 100%;
            }
        }

        .principle-heading-title {
            flex: 1;
            margin: 0;
            font-size: 24px;
            line-height: 30px;
            font-weight: $font-bold;
        }
    }

    .principle-desc {
        margin: 0 0 30px;
        font-size: 18px;
        line-height: 24px;
        font-family: $font-family-roboto;
        font-weight: $font-light;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
// Principles section end


// About complex start
.section-about-complex {
    background: url("../img/about-complex-bg.png") no-repeat 100% 0, 
                linear-gradient(239.16deg, rgba(229, 229, 229, 0.73) -0.44%, #FFFFFF 62.33%);
    
    .repeat-section {
        max-width: 755px;

        .btn {
            margin-top: 40px;
        }
    }
}
// About complex end


// Unique location start
.section-unique-location {
    padding: 70px 0 130px;

    .repeat-title {
        margin: 0 0 80px;
    }
}

.unique-location-holder {
    display: flex;
}

.unique-location-wrapper {
    width: 745px;
    margin-right: 70px;
}

.unique-location-tab {
    width: 100%;
    margin-left: -20px;

    .repeat-desc {
        padding: 0 20px;
    }
}

.unique-location-slider {
    margin-bottom: 50px;

    .slick-list {
        padding: 40px 20px;
    }

    .slick-dots {
        bottom: -100px;
        left: -78px;
    }

    .slick-arrow {
        position: absolute;
        bottom: -33px;
        width: 40px;
        height: 40px;
        background: url("../img/icons/slider-arrow.svg") no-repeat 50% 50%;
        border: none;
        z-index: 10;
        font-size: 0;
        padding: 0;
        cursor: pointer;

        &.slick-prev {
            display: none !important;
            left: 50px;
            transform: rotate(180deg);
        }

        &.slick-next {
            right: 50px;
        }
    }

    .unique-location-slide {
        position: relative;

        img {
            max-width: 100%;
            border-radius: 3px;
            box-shadow: 0px 20px 33px rgba(139, 67, 38, 0.13);
        }

        .location-name {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 40px;
            font-size: 36px;
            line-height: 30px;
            color: $color-white;
        }
    }
}

.unique-location-infographic {
    width: 810px;
    height: 840px;
    position: relative;
    margin-top: -200px;

    .info-main-img {
        position: absolute;
        top: 365px;
        left: 312px;
        margin: 23px 0 0 -32px;
    }

    .addr-title {
        position: absolute;
        top: 380px;
        left: 48px;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        font-weight: $font-bold;

        .number {
            font-family: $font-family-cormorant-numeric;
            font-size: 48px;
            line-height: 18px;
            color: $color-brown;
            position: relative;
            top: 7px;
            left: 9px;
        }
    }

    .location-link {
        position: absolute;
        text-align: center;
        cursor: pointer;

        &:hover, &.active {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }

        &:before {
            content: "";
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            @include center(both);
            z-index: -1;
            background: #f2f2f2;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s);
        }

        &.link1 {
            top: 152px;
            left: 3px;
        }

        &.link2 {
            top: 107px;
            left: 120px;
        }

        &.link3 {
            top: 0;
            left: 192px;
        }

        &.link4 {
            top: 160px;
            right: 313px;
        }

        &.link5 {
            top: 214px;
            right: 132px;
        }

        &.link6 {
            bottom: 383px;
            right: 116px;
        }

        &.link7 {
            bottom: 145px;
            right: 0;
        }

        &.link8 {
            bottom: 114px;
            left: 257px;
        }

        &.link9 {
            bottom: 4px;
            left: 68px;
        }

        .location-link-icon {
            margin-bottom: 10px;
        }

        .location-name {
            display: block;
            font-size: 13px;
            line-height: 16px;
            font-weight: $font-bold;
            text-transform: uppercase;

            .number {
                font-family: $font-family-cormorant-numeric;
            }
        }
    }

    .info-arrow {
        position: absolute;

        &.info-arrow1 {
            top: 209px;
            left: 98px;
        }

        &.info-arrow2 {
            top: 199px;
            left: 220px;
        }

        &.info-arrow3 {
            top: 131px;
            left: 288px;
        }

        &.info-arrow4 {
            top: 276px;
            right: 363px;
        }

        &.info-arrow5 {
            top: 306px;
            right: 232px;
        }

        &.info-arrow6 {
            top: 406px;
            right: 194px;
        }

        &.info-arrow7 {
            bottom: 229px;
            right: 113px;
        }

        &.info-arrow8 {
            bottom: 218px;
            left: 314px;
        }

        &.info-arrow9 {
            bottom: 126px;
            left: 87px;
        }
    }
}

.animate-house {}
// Unique location end


// Section specifications start
.section-specifications {
    background: url("../img/specifications-bg.png") no-repeat 100% 0, 
                linear-gradient(239.16deg, rgba(229, 229, 229, 0.73) -0.44%, #FFFFFF 62.33%);

    .repeat-section {
        max-width: 705px;
    }
}
// Section specifications end


// Section floor plans start
section.section-floor-plans {
    padding-top: 80px;
    padding-bottom: 80px;
    background: url("../img/ellipse-bg.png") no-repeat 100% 0, 
                linear-gradient(239.16deg, rgba(229, 229, 229, 0.73) -0.44%, #FFFFFF 62.33%);

    .repeat-section {
        max-width: 505px;
        margin-right: 150px;
    }
}

.floor-plans-inner {
    display: flex;
}

.btn-choose-floor {
    margin-top: 80px;
}

.builing-wrapper {
    img {
        max-width: 100%;
    }
}

.selects-wrapper {
    display: flex;
    align-items: center;
    margin: 0 100px;

    .dropdown-select {
        margin-right: 50px;
    }
}

.window-view {
    font-size: 36px;
    line-height: 44px;
    font-weight: $font-bold;
    cursor: pointer;
    @include transition(.2s);

    &:hover {
        color: $color-brown;
    }

    img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
}
// Section floor plans end


// Section gallery start
.section-gallery {
    padding: 100px 0 150px;
    position: relative;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.73);
        backdrop-filter: blur(10px);
        opacity: 0;
        visibility: hidden;
        @include transition(.3s);
    }

    &.aos-animate {
        .gallery-slider {
            .gallery-slide {
                animation: gallery-animate 1s ease-in-out 2s forwards;

                &.slick-active {
                    animation-delay: 1.5s;
                }
            }

            .slick-arrow { 
                animation: gallery-animate 1s ease-in-out 2.3s forwards;
            }
        }

        .paging-info {
            animation: gallery-animate 1s ease-in-out 2.3s forwards;
        }
    }

    &.active {
        &:after {
            opacity: 1;
            visibility: visible;
        }

        .gallery-slider {
            .gallery-slide {
                &.slick-active {
                    transform: scale(1.4);

                    .slide-desc {
                        opacity: 0;
                        visibility: hidden;

                        &.for-active-state {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .slick-arrow { 
                &.slick-prev {
                    left: 90px;
                }

                &.slick-next {
                    right: 90px;
                }
            }
        }

        .paging-info {
            &.for-active-state {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.gallery-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;

    .repeat-title {
        margin: 0;
    }
}

.gallery-tabs {
    display: flex;
    align-items: center;

    .gallery-tab-item {
        display: block;
        margin: 0 35px;
        font-size: 36px;
        line-height: 44px;
        font-weight: $font-bold;
        cursor: pointer;
        @include transition(.2s);

        &:hover, &.active {
            color: $color-brown;
        }
    }
}

.gallery-slider {
    z-index: 1;

    .slick-list {
        overflow: initial;
    }

    .gallery-slide {
        transform: scale(0.7);
        border-radius: 3px;
        opacity: 0;
        cursor: pointer;
        @include transition(.9s);

        &.slick-active {
            position: relative;
            transform: scale(1);
            transform-origin: center;
            z-index: 10;

            .slide-desc {
                opacity: 1;
                visibility: visible;
            }
        }

        &:not(.slick-center) {
            .slide-img {
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .slide-img {
            position: relative;
            margin-bottom: 60px;
            box-shadow: 0px 20px 33px rgba(139, 67, 38, 0.13);
        
            img {
                max-width: 100%;
                border-radius: 3px;
            }

            &:after {
                content: "";
                opacity: 0;
                visibility: hidden;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 3px;
                background: rgba(255, 255, 255, 0.33);
                backdrop-filter: blur(13px);
                @include transition(.4s);
            }
        }

        .slide-desc {
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            font-family: $font-family-roboto;
            font-weight: $font-light;
            opacity: 0;
            visibility: hidden;
            @include transition(.9s);

            &.for-active-state {
                position: absolute;
                top: -35px;
                font-size: 14px;
                width: 100%;
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    .slick-arrow {
        @include center(vertical);
        @include transition(.7s);
        border-radius: 50%;
        margin-top: -40px;
        border: none;
        z-index: 10;
        font-size: 0;
        width: 64px;
        height: 64px;
        opacity: 0;
        cursor: pointer;
        background: $color-white url("../img/icons/slider-arrow.svg") no-repeat 50% 50%;

        &.slick-prev {
            left: 300px;
            transform: translateY(-50%) rotate(180deg);
        }

        &.slick-next {
            right: 300px;
        }
    }
}

.paging-info {
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    font-weight: $font-bold;
    font-family: $font-family-cormorant-numeric;
    color: $color-brown;
    opacity: 0;
    @include transition(.5s);

    &.for-active-state {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 56px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
}
// Section gallery end



// Section callback start
.callback-wrapper {
    display: flex;

    .callback-left, .callback-right {
        width: 50%;
    }

    .callback-left {
        min-height: 780px;
        padding: 80px 70px 80px 233px;
        background: url("../img/callback-form-bg.png") no-repeat 100% 0, 
        linear-gradient(126.68deg, rgba(229, 229, 229, 0.73) 18.99%, #FFFFFF 81.01%);
    }

    .callback-right {
        background: url("../img/callback-bg.png") no-repeat 50% 50%;
        background-size: cover;
        position: relative;

        .callback-sales {
            position: absolute;
            bottom: 60px;
            left: 0;
            width: 420px;
            padding: 40px;
            background: rgba(139, 67, 38, 0.73);
            border-radius: 0px 3px 3px 0px;

            .callback-sales-title, .callback-sales-subtitle {
                display: block;
                font-size: 36px;
                line-height: 30px;
                color: $color-white;
                font-weight: $font-bold;
                text-transform: uppercase;
                margin: 0;
                text-shadow: 0px 20px 33px rgba(139, 67, 38, 0.33);
            }

            .callback-sales-subtitle {
                font-size: 36px;
                line-height: 38px;
                text-transform: none;
                margin-bottom: 30px;
            }

            .callback-link {
                font-size: 36px;
                line-height: 30px;
                display: block;
                color: $color-white;
                font-family: $font-family-cormorant-numeric;
                @include transition(.2s);

                &:hover {
                    text-decoration: none;
                    color: #c9c7c7;
                }
            }

            .office-addr {
                display: block;
                font-size: 24px;
                line-height: 30px;
                color: $color-white;

                .number {
                    font-family: $font-family-cormorant-numeric;
                }
            }
        }
    }
}

.callback-form {
    max-width: 460px;
}
// Section callback end