@import "vars";
@import "libs";
@import "mixins";
@import "keyframes";
@import "header";
@import "footer";
@import "landing";

body {
	min-width: 320px;
	position: relative;
	font-family: $font-family-cormorant;
	color: $color-darkgray;
	overflow-x: hidden;
}

* {
	outline: none !important;
}

button {
	cursor: pointer;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

select {
	-moz-appearance: none;
}

.main-tagmain {
	@include media-breakpoint-down(sm) {
		margin-top: 55px;
	}
}

.inner-wrapper {
	max-width: 1472px;
	margin: 0 auto;
	padding: 0 16px;
}

.section-outer {
	padding-left: 233px;
	
	@media (max-width: 1540px) {
		padding-left: 80px;
	}

	@include media-breakpoint-down(sm) {
		padding-left: 0;
	}
     
}

.section-slider {
    padding-top: 180px;
	padding-bottom: 180px;
	
	@media (max-width: 1540px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@include media-breakpoint-down(sm) {
		padding: 70px 16px;
	}
}

.slider-inner {
    display: flex;
	justify-content: space-between;
	
	@media (max-width: 1025px) {
		display: block;
	}
}

.text-center {
	text-align: center;
}

// Button styles start
.btn {
	display: inline-block;
	position: relative;
	border-radius: 3px;
	border: 1px solid $color-brown;
	color: $color-brown;
	padding: 10px 40px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	font-weight: $font-bold;
	min-width: 260px;
	height: 44px;
	text-align: center;
	background: $color-white;
	text-transform: uppercase;
	overflow: hidden;
	font-family: $font-family-cormorant;

	&:hover {
		color: $color-white;

		&:before {
			transform: translateY(0);
		}
	}

	&.loading {
		color: $color-white;

		&:before {
			transform: translateY(0);
		}

		&:after {
			opacity: 1;
			visibility: visible;
		}

		span {
			opacity: 0;
			visibility: hidden;
		}
	}

	span {
		display: block;
		position: relative;
		z-index: 1;
		@include transition(.25s);
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(100%);
		width: 100%;
		height: 100%;
		background: $color-brown;
		@include transition(.25s);
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 47%;
		transform: translateX(-50%) translateZ(0) scale(.2);
		opacity: 0;
		visibility: hidden;
		@include transition(.3s);
		top: -19px;
		color: $color-white;
		font-size: 18px;
		text-indent: -9999em;
		overflow: hidden;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		position: relative;
		animation: loading 1.3s infinite ease, round 1.3s infinite ease;
	}
}
// Button styles end


// Repeat elements start
.repeat-section {
	max-width: 825px;
	margin-right: 30px;

	@media (max-width: 1025px) {
		max-width: initial;
		margin-right: 0;
	}
}

.repeat-title {
	max-width: 705px;
	margin: 0 0 120px;
	font-size: 74px;
	line-height: 87px;
	color: $color-brown;
	font-weight: $font-light;
	text-transform: uppercase;
	position: relative;

	@include media-breakpoint-down(lg) {
		margin: 0 0 40px;
		font-size: 44px;
		line-height: 57px;
	}

	@include media-breakpoint-down(sm) {
		font-size: 36px;
		line-height: 44px;
		margin: 0 0 90px;
	}

	@media (max-width: 374px) {
		font-size: 31px;
		line-height: 39px;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: -70px;
		left: 0;
		width: 120px;
		height: 1px;
		background: $color-brown;

		@include media-breakpoint-down(lg) {
			bottom: -15px;
		}

		@include media-breakpoint-down(sm) {
			bottom: -40px;
		}
	}
}

.repeat-subtitle {
	margin: 0 0 40px;
	font-size: 36px;
	line-height: 44px;
	font-weight: $font-bold;
	text-transform: uppercase;

	.mark {
		color: $color-brown;
	}

	.number {
		font-family: $font-family-cormorant-numeric;
		color: $color-brown;
		font-size: 60px;
	}
}

.repeat-desc {
	font-size: 18px;
	line-height: 30px;
	font-weight: $font-light;
	font-family: $font-family-roboto;
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}

	@include media-breakpoint-down(sm) {
		font-size: 14px;
		line-height: 20px;
	}
}

.repeat-slider-wrapper {
	width: 600px;
	height: 100%;
	padding-top: 160px;

	@media (max-width: 1025px) {
		padding-top: 80px;
		width: auto;
		max-width: 600px;
		margin: 0 auto;
	}


	@include media-breakpoint-down(sm) {
		margin: 0 -16px;
		max-width: initial;
	}
}

.repeat-slider, .specification-slider-media {
	transform: scale(.8) !important;
	transform-origin: 100% 0;
	transition: transform .7s ease;

	@include media-breakpoint-down(sm) {
		transform: scale(1) !important;
	}
	
	&:hover {
		transform: scale(.9) !important;

		@include media-breakpoint-down(sm) {
			transform: scale(1) !important;
		}

		.slick-dots {
			transform: scale(1.1);

			@include media-breakpoint-down(sm) {
				transform: scale(1) !important;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		max-width: initial;
		width: 100%;
	}

	.slick-list {
		box-shadow: 0px 20px 33px rgba(139, 67, 38, 0.13);
		

		@media (max-width: 1025px) {
			transform: none !important;
		}
	}

	.slick-track {
		padding: 0;
		border-radius: 3px;
		transition: all 1s cubic-bezier(0.7, 0, 0.3, 1)
	}

	.slide-wrap {
		overflow: hidden;
		border-radius: 3px;
		width: 600px;
		height: 455px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include media-breakpoint-down(sm) {
			width: 100%;
			height: 280px;
		}

		&.slick-active {
			img, video {
				transform: scale(1);
			}
		}
		

		img, video {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
			border-radius: 3px;
			transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    		transform: scale(1.2);
		}

		.video-wrap {
			position: relative;
		}
	}
}

.repeat-slider-nav, .repeat-slider-nav2 {
	display: none !important;

	@include media-breakpoint-down(sm) {
		display: block !important;
	}

	.slick-track {
		padding: 20px 0 50px;
	}

	.slide-wrap {
		height: 100px;
		margin: 0 10px;
		position: relative;

		img, video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			box-shadow: 0px 20px 33px rgba(139, 67, 38, 0.13);
			border-radius: 3px;
		}

		.playpause {
			width: 50px;
			height: 50px;

			img {
				box-shadow: none;
			}
		}
	}
}

.playpause {
	@include center(both);
	z-index: 10;
	cursor: pointer;
}

.slick-dots {
	position: absolute;
	bottom: -46px;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	z-index: 100;
	list-style: none;
	padding-top: 20px;
	transform: scale(1.25);
	transition: transform .7s ease;
	
	@media (max-width: 1025px) {
		transform: translate(0, 0);
	}

	@include media-breakpoint-down(sm) {
		bottom: -160px;
	}

	li {
		display: inline-block;
		vertical-align: middle;
		width: 46px;
		text-align: center;

		&.slick-active {
			button {
				width: 35px;
				background: $color-brown;
			}
		}

		button {
			display: inline-block;
			padding: 0;
			background: none;
			border: 1px solid $color-brown;
			border-radius: 16px;
			width: 16px;
			height: 16px;
			font-size: 0;
			@include transition(.3s);
		}
	}
}
// Repeat elements end


// Dropdown select start
.dropdown-select {
	padding: 20px;
	position: relative;
	min-width: 200px;
	max-width: 230px;
	user-select: none;

	&.dropdown-select-sm {
		min-width: 175px;
		max-width: 200px;
	}
	
	&.active {
		.dropdown-list {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			z-index: 20;
		}

		.dropdown-item {
			&.selected {
				z-index: 25;
			}
		}
	}

	.dropdown-item {
		display: block;
		padding: 5px 0;
		cursor: pointer;
		position: relative;
		z-index: 10;
		font-size: 36px;
		line-height: 44px;
		font-weight: $font-bold;
		@include transition(.2s);

		@include media-breakpoint-down(sm) {
			font-size: 24px;
			line-height: 29px;
		}

		&.active {
			display: none;
		}

		&:hover {
			color: $color-brown;
		}

		&.selected {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 30px;
		}

		.dropdown-arrow {
			@include center(vertical);
			right: 15px;
			margin-top: 5px;
		}

		.mark {
			display: inline-block;
			width: 15px;
			color: $color-brown;
			font-family: $font-family-cormorant-numeric;
		}
	}

	.dropdown-list {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: $color-white;
		padding: 74px 20px 20px;
		border-radius: 3px;
		box-shadow: 0px 20px 33px rgba(139, 67, 38, 0.13);
		transform: translateY(10px);
		@include transition(.4s);

		@include media-breakpoint-down(sm) {
			padding: 57px 20px 20px;
		}
	}
}
// Dropdown select end


// Input styles start
.input-row {
	margin-bottom: 40px;

	&.error {
		input, textarea {
			border-color: $color-red;
			color: $color-red;
		}
	}

	input, textarea {
		display: block;
		width: 100%;
		background: none;
		height: 48px;
		border: none;
		border-bottom: 1px solid $color-darkgray;
		font-size: 14px;
		line-height: 16px;
		padding: 15px 20px;
		font-family: $font-family-roboto;
		color: $color-darkgray;
		font-weight: $font-light;
		resize: none;
	}

	textarea {
		overflow: hidden;
	}
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
// Input styles end


// Custom AOS animations start
[data-aos="new-animation"] {
	opacity: 1;
	transition-property: transform, opacity;

	&.aos-animate {
		opacity: 1;
	}

	@media screen and (min-width: 768px) {
		transform: translateX(100%);

		&.aos-animate {
			transform: translateX(0);
		}
	}
}
  // Custom AOS animations end
@import "media"; // Always at the end
